@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1);
    fill: #1E87A9;
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes shooting {
  from {
    transform: rotate3d(0,0,1, 10deg) translate3d(0, 0, 0);
    box-shadow: 0 0 1px 1px #fff;
    opacity: 1;
  }

  to {
    transform: rotate3d(0,0,1, 10deg) translate3d(700%, 70%, 0);
    box-shadow: 100px 0 100px 10px #fff;
    opacity: 0;
  }
}

svg.animated{
	animation: pulse .6s ease-in-out;
}

.star{
	width: 100px;
	position: absolute;
	height: 1px;
	border-radius: 50%;
	background-color: #fff;
	top:-10px;
	left: 10%;
  z-index: 9;
	&.animated{
		animation: shooting .6s ease-out;
	}
}