.bullets{
	margin: 2rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	& > div{
		display: flex;
		margin: 0.5rem;
		padding: .5rem;
		border-radius: 0.5rem;
		/*background-color: #fff;
		box-shadow: 0 0 50px 3px #0002;*/
		box-shadow: 0 0 2px 0 #0003; /* 0 2px 1px #0003; */
	}
	& svg{
		height: 3rem;
		float: left;
		fill: #401EA9;
		/*fill: none;
		stroke: currentColor;*/
	}
	& h4 {
		margin: 0;
		line-height: 1rem;
		padding: 0.5rem;
		text-align: center;
		font-weight: 700;
		& small{
			font-weight: 400;
		}
	}
}