:root {
	--primaryColor: #2298bf;
  --btn: {
  	display: inline-block;
    font-size: 1em;
    color: #fff;
    border: 2px solid #fff;
    background-color: #fff0;
    text-transform: uppercase;
    padding: calc(1em - 2px) calc(2em - 2px);
    margin-right: 2em;
    border-radius: 0.5em;
    font-weight: 400;
    transition: all .3s var(--timing);
    &:hover{
			background-color: #fffb;
			color: color(var(--primaryColor) shade(80%));
    }
    &:last-child{
    	margin-right: 0;
    }
  };
}

.btn-ghost{
	@apply --btn;
}

.btn-primary{
	@apply --btn;
	background-color: var(--primaryColor);
	border-color: var(--primaryColor);
	/*color: color(var(--primaryColor) shade(80%));*/
	box-shadow:  0 2px 0 color(var(--primaryColor) shade(40%));
	transition: all 1s ease-in-out;
	&:hover{
		background-color: color(var(--primaryColor) l(+10%));
		border-color: color(var(--primaryColor) l(+10%));
		color: #fff;
  }
  &.disabled{
  	opacity: 0.5;
  	cursor: default;
  	box-shadow: none;
  	box-shadow:  0 0px 0 transparent;
  }
  &.success{
  	opacity: 1;
  	background-color: #00C740;
		border-color: #00C740;
		/*box-shadow:  0 2px 0 color(#00C740 shade(40%));*/
  }
}

.btn-arrow-down{
	display: block;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	border: 1px solid #fff;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation: shake 1s ease-in-out;
}