.cover{
	height: 100vh;
	background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  /*overlay*/
  &:before{
    content: '';
    position: absolute;
    background-image: linear-gradient(to bottom, #0000 20%, #0006 60%);
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  & img{
  	position: absolute;
	  opacity: 0;
	  top: -10%;
	  left: -10%;
	  width: 120%;
	  transition: opacity 1s linear;
	  &.loaded, &.img-small {
		  opacity: 1;
		}
  }
  & .container{
    @apply --container;
  }
  & .message{
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    & h1{
      color: #fff;
      lost-column: 1/2;
      /*letter-spacing: -2px;*/
      @apply --sans;
      line-height: 1em;
      display: inline-block;
      text-align: left;
      text-transform: uppercase;
      box-sizing: border-box;
      font-weight: 300;
      & b{
        @apply --serif;
      }
    }
    & .cta{
      lost-column: 1/2;
      text-align: left;
    }
    & .lead{
      color: #fff;
      font-size: 1.618em;
      margin-bottom: 1em;
      text-align: left;
      font-weight: 400;
    }
  }

  & footer{
  	z-index: 1;
  	bottom: 0;
  	width: 100%;
  	/*background-image: linear-gradient(#00000000, #000000aa, #000000dd);*/
  	color:#fff;
  	lost-align: center;
  	position: absolute;
  	& > div{
	  	
  	}
  }
}

.img-small {
  filter: blur(20px);
  transform: scale(1);
}

@media screen and (max-aspect-ratio: 3/2) {
	.cover img{
		width: auto;
		height: 120%;
	}
}

@media screen and (max-width: 875px) {
  .cover .message{
    & h1, & .cta{
      lost-column: 1/1;
      text-align: center;
    }
    & .lead{
      text-align: center;
      max-width: 60%;
      margin: 1em auto;
    }
  }
}

@media screen and (max-width: 480px)  {
 .cover .message { bottom: -10%; }
 .cover .message h1{ font-size: 2.618rem; margin: 0; }
 .cover .message .lead{ max-width: 100%; margin: 0.5em auto; }
 .cover .message a { display: block; margin: 1rem auto; }
}

@media screen and (max-height: 480px)  {
  .cover{ height: 120vh; }
  .cover .message h1{ font-size: 2.618rem; margin: 0; }
  .cover .message .lead{ max-width: 100%; margin: 0.5em auto; }
}