#faq{
  /*padding-top: 1.5rem;*/
}

.faq{
  & h4{
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-right: 1rem;
    font-weight: 500;
    margin: .5rem 0;
    transition: all .3s ease-out;
  }
  & li{
    cursor: pointer;
    position: relative;
    padding: .5rem 1rem;
    border-radius: 0.5rem;
    /*background-color: #fff;
    box-shadow: 0 0 50px 3px #0002;*/
    border: 2px solid #0001;
    box-shadow: 0 1px 2px 0 #0001;
    text-indent: 0;
    transition: all .3s ease-out;
    &.active{
      border-color: #0003;
      &:hover{
        border-color: #0003;
      }
      & p{
        max-height: 1000px;
      }
      &:after{
        transform: rotate(180deg);
      }
    }
    & p{
      margin: 0;
      max-height: 0;
      padding-right: 1rem;
      box-sizing: border-box;
      overflow: hidden;
      transition: max-height .6s ease-out;
    }
    &:hover{
      border-color: var(--primaryDark);
      & h4{
        color: var(--primaryDark);
      }
      &:after{
        border-top-color: var(--primaryColor);
      }
    }
    &:before {
      content: "";
    } 
    &:after{
      transition: all .3s ease-out;
      content: "";
      display: block;
      position: absolute;
      right: 1rem;
      top: calc(50% - .187rem);
      width: 0; 
      height: 0; 
      border-left: .375rem solid transparent;
      border-right: .375rem solid transparent;
      border-top: .375rem solid #0005;
    } 
  }
}