label{
	width: 3em;
	display: inline-block;
	text-align: right;
	position: relative;
	margin-right: .5em;
}
.input{
	margin-bottom: 1em;
}
input{
	border:none;
	outline: none;
	border-bottom: 1px solid #000;
	font-size: 1.333em;
	font-weight: 400;
	box-sizing: border-box;
	background-color: transparent;
	width: 10em;
}

.input-phone {
	& label:after{
		content: '+1';
		position: absolute;
		right: -1.7em;
		top: -0.33em;
		font-size: 1.333em;
		font-weight: 400;
	}
	& input{
		padding-left: 1.3em;
	}
}

button[type="submit"]{
	margin-top: 1em;
	border-radius: 0.5em;
	cursor: pointer;
}

.form-page{
	padding: 3rem;
	background-color: #f9f9f9;
	width: 25rem;
	box-sizing: border-box;
	border-radius: 0.5rem;
	text-align: center;
	/*box-shadow: 0 0 200px 10px #0001;*/
	/*border: 1px solid #0001;*/
	& h3{
		margin: 0 0 1rem 0;
	}
}

@media screen and (max-width: 375px) {
	.form-page {
		padding: 3rem 0;
		width: 100%;
	}
}