.map{
	background-color: #ebebeb;
	&>div{
		@apply --container;
		padding:3rem 0 0 0;
	}
	& .holder{
		lost-column: 2/3;
	}
	& .info{
		lost-column: 1/3;
	}
}

@media screen and (max-width: 760px) {
	.map{
		& .holder{
			lost-column: 1/1;
		}
		& .info{
			lost-column: 1/1;
			& h3{text-align: center;}
			& address > div{
				justify-content: center;
			}
		}
	}
}