:root{

};
/*@TODO: add transition to lightbox*/
.overlay{
	display: none;
	width: 100%;
	height: 100%;
	top:0;
	lost-align: center;
	background-color: #fff9;
	position: fixed;
	z-index: 9;
	overflow: hidden;
}
.modal{
	background-color: #fff;
	padding: 3em;
	border-radius: 0.5em;
	box-shadow: 0 10px 20px #0002;
/*	min-width: 40%;
	min-height: 40%;*/
	max-width: 95%;
	text-align: left;
	max-height: 80%;
}

.docs--content {
	max-height: 500px;
	overflow: scroll; 
}

.close{
	position: fixed;
	top: 1em;
	right: 1em;
	width: 3em;
	height: 3em;
	background-color: transparent;
	border-radius: 50%;
	border:none;
	cursor: pointer;
	&:before, &:after{
		content: '';
		position: absolute;
		display: block;
		height: 1px;
		width: 1.5em;
		top:50%;
		left:50%;
		background-color: #555;
		/*transform-origin: 50% 50%;*/
		transform: translate3d(-50%, -50%, 0) rotate3d(0,0,1,45deg);
		transition: all .3s var(--timing);

	}
	&:after{
		transform: translate3d(-50%, -50%, 0) rotate3d(0,0,1,-45deg);
	}
	&:hover{
		&:before{
			background-color: #a91e41;
			transform: translate3d(-50%, -50%, 0) rotate3d(0,0,1, 135deg) scale3d(1.5,1.5,1);
		}
		&:after{
			background-color: #a91e41;
			transform: translate3d(-50%, -50%, 0) rotate3d(0,0,1, 45deg) scale3d(1.5,1.5,1);
		}
	}
}

.blured > *:not(.overlay){
	filter: blur(10px);
}

@media screen and (max-width: 480px) {
	.modal{
	background-color: #fff;
	padding: 3em 0;
	border-radius: 0;
	box-shadow: 0 10px 20px #0002;
	max-width: 100%;
	width:100%;
	text-align: center;
}
}