@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideOutUp {
	from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    position: absolute;
  }
}

header{
	/*position: fixed;*/
	position: absolute;
	z-index: 9;
	width: 100%;
	background-color: #ffffff00;
	padding: 1em 0;
	border-bottom: 1px solid #ddd0;
	opacity: 1;
	transition: opacity .3s ease-out;
	& .header-logo{
		lost-column: 1/3;
		& img{
			height: 2.5em;
			display: block;
		}
	}
	& nav{
		lost-column: 2/3;
	}
	&.stick{
		position: fixed;
		background-color: #122868;
		animation: slideInDown .6s cubic-bezier(.48,.57,.15,.99);
		animation-fill-mode: forwards;
		& .header-logo{
			& img{
				height: 1.5em;
			}	
		}
		& nav a{
			padding: 0.25em 1em;
		}
	}
	&.unstick{
		animation: slideOutUp .3s cubic-bezier(.48,.57,.15,.99);
		animation-fill-mode: forwards;
	}
}

nav{
	@apply --container;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	& a{
		color: #fff;
		font-weight: 300;
		text-transform: uppercase;
		display: block;
		font-size: 0.8em;
		line-height: 1rem;
		padding: 0.75em 1em;
	}
}

nav a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
nav a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fff;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
nav a:hover:before, nav a.active:before {
  left: 10%;
  right: 10%;
}

@media screen and (max-width: 480px)  {
	header .header-logo{
		lost-column: 1/1;
		text-align: center;
		margin-bottom: 1em;
		& img{
			margin: 0 auto;
		}
	}
	header.stick .header-logo{ 
		display: none;
	}
	header nav{
		lost-column: 1/1;
		justify-content: center;
	}
}