/**
* (optional) define here the style definitions which should be applied on the slider container
* e.g. width including further controls like arrows etc.
*/
.slider {
  position: relative;
  width: 100%;
  max-width: 35rem;
  margin: auto;
}

.frame {
   /**
    * (optional) wrapper width, specifies width of the slider frame.
    */
    
    width: 90%;
    margin: auto;
   position: relative;
   font-size: 0;
   line-height: 0;
   overflow: hidden;
   white-space: nowrap;
}

.slides {
   display: inline-block;
   max-width: 100%;
}

.slides > li {
   position: relative;
   display: inline-block;
   /**
    * (optional) if the content inside the slide element has a defined size.
    */
  width: 100%;
   /*font-size: 1rem;
   line-height: 1.5rem;
   white-space: normal;*/
   margin: 0;
   padding: 0;
    text-indent: 0;
   &:before{
      content: '';
   }
}

.prev, .next {
   position: absolute;
   top: 50%;
   margin-top: -25px;
   display: block;
   cursor: pointer;
}

.next {
   right: 0;
}

.prev {
   left: 0;
}

.next svg, .prev svg {
   width: 25px;
}