#contact{
	& .action{
		margin-top: 2rem;
		display: flex;
		flex-wrap: wrap;
		align-items:center;
		justify-content: center;
		& > form {
			display: block;
			box-sizing: border-box;
		}
		& > h3{
			margin: 1rem;
			display: block;
		}
		& .email-us{
			/*text-transform: uppercase;*/
			display: block;
			text-align: left;
			box-sizing: border-box;
			padding: 1rem;
			background-color: #f9f9f9;
			border-radius: 0.5rem;
			& h3{
				margin: 0 0 1rem 0;
			}
			& a{
				font-size: 1.3em;
			}
		}
	}	
}

.map{
	& .info{
		& h3{
			font-size: 1em;
			@apply --sans;
			margin-bottom: 1rem;
		}		
		& span{
			display: block;
			margin-left: 1rem;
			font-style: normal;
		}
		& svg {
			height: 2rem;
			max-width: 2rem;
			fill: var(--primaryDark);
		}
	}
}

address{
	& > div {
		display: flex;
		margin-bottom: 1rem;
		align-items:center;
	}
}

.docs {
	margin-top: 1.5rem;
	text-align: center;
	&--link {
		padding: 0.35rem;
	}
}

@media screen and (max-width: 810px) {
	#contact .action{
		flex-direction: column;
	}
}
@media screen and (max-width: 375px) {
	#contact .email-us{
		width: 100%;
	}
}