.training{
	&-cover{
		background-image: url(/img/cover-training-2.jpg);
		background-position: 0% 0%;
		background-size: cover;
		padding: 4rem 0;
		margin-bottom: 1rem;
		overflow: hidden;
		position: relative;
		& h2, & h3{
			padding: 0 1rem;
			color: #1E1C1D;
			margin: auto;
			line-height: 1.5em;
			& span{
				padding: 0.25em;
			}
		}
		& h3{
			margin-top: 4rem;
			/*@apply --sans;*/
			font-weight: 400;
			color: #1E1C1D;
		}
	}
	
}

#training{
	& .cta{
		display:flex;
		flex-wrap: wrap; 
		max-width: 35rem; 
		margin:auto;
		align-items:center;
		justify-content: center;
		font-weight: 700;
		padding: 2rem 0;
		& > * {
			margin-bottom: 1rem;
		}
	}
}

.requirements{
	max-width: 35em;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1rem;
	& > * {
		width: 12em;
		margin: 1rem 2rem;
	}
}

@media screen and (max-width: 1260px) {
	.training-cover h3 span{
		background-color: #ffff;
	}
}

@media screen and (max-width: 850px) {
	.training-cover h2{
		text-align: center;
	}
}