<div class="docs--content">
  <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>RFS PRIVACY POLICY</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<I>(This Privacy Policy has been updated and is effective as of June
1, 2017.)</I></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
This is the privacy policy (the &quot;Privacy Policy&quot;) for those
web sites (each a “Site” and together the “Sites”) to which
this Privacy Policy is linked and identified as such web site’s
privacy policy and which are operated by Reload Freight Systems Inc.
(“RFS,” “we,” “us” or “our”) on its own behalf or on
behalf of its Affiliates, including Landstar Sytems, Inc.&nbsp; The
web site that you are visiting now and to which this Privacy Policy
applies may be referred to herein as “this Site” or “the
Site.”&nbsp; The Privacy Policy governs how RFS uses, collects and
discloses the information gathered from or provided by users of this
Site located in the United States and Canada.&nbsp; “Affiliates”
shall be those entities that control, are controlled by or are under
common control with, RFS.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
This Privacy Policy should be read in conjunction with this Site’s
Terms of Use, which is incorporated herein by reference.&nbsp;
Capitalized terms used and not otherwise defined in this Privacy
Policy shall have the meaning given to them in the Terms of Use.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Use by Users
Outside the United States</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
&nbsp;This Site is intended for use only by users located in the
United States.&nbsp; If you are located outside of the United States
you are consenting to the transfer and/or transmission of your
information into the United States and to the collection, use and
disclosure of your information in accordance with this Privacy
Policy.&nbsp; You are also acknowledging that the laws of the
jurisdiction in which the information is kept will determine the
protections afforded to your personal information, and that such
protections may not be as strict as your home jurisdiction.&nbsp; RFS
stores and processes the personal information it gathers through your
use of the Site in the United States.&nbsp;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Agreement and
your consent.</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
Please read this Privacy Policy carefully; it creates legal
obligations. By using the Site, you are acknowledging that you have
read and understand this Privacy Policy, you are agreeing to be
legally bound by it, and you are consenting to the use, collection
and disclosure of your information as provided in this Privacy
Policy. If you do not agree with all of the terms of this Privacy
Policy, you should not use the Site.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Scope of Policy</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
This Privacy Policy applies to the Sites, including this Site, and it
does not apply to other web sites, including other web sites operated
by  RFS, Landstar, its Affiliates or service providers, or sites that
may be operated by othersWhen visiting other sites, even via links
provided on this Site, please review the applicable privacy policies
to be sure their terms are acceptable to you.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
This Privacy Policy applies only to information we gather from you or
that you provide to us online while visiting or using the Site. It
does not apply to information gathered from or provided by you to us
through other sites, offline, through other business arrangements
with you, or through other means.&nbsp;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Information
We Collect</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
The Site offers business information about RFS and its Affiliates.&nbsp;
The Site is not to be used by individual consumers to purchase
consumer products or services.&nbsp;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
The type of information we collect from users of the Site includes
information by which an individual may be identified (“personal
information”) such as their first and last name, email address,
address, and telephone number.&nbsp; We also collect business
information from users, and information by which users cannot be
individually identified, such as information about a user’s
computer, Internet connection and Site usage.&nbsp;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
We collect this information when you directly provide it to us, such
as if you request information through the Site, register on the Site,
sign up for a service through the Site, provide us with Suggestions
through the Site, post User Posted Content to the Site, or if you
send us information via email through the Site.&nbsp;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
We may also collect information automatically as you navigate through
the Site, including about your equipment, browsing actions and
patterns, including as follows:</P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	We may record general statistical and tracking information, such as
	the date and time you access the Site, the places you visit on the
	Site, and the time you spend using the Site.</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	We may receive and record information about your computer and its
	systems and in our server logs from your browser, including your IP
	address (the Internet address of your computer), your computer and
	its systems, the type and version of your web browser, referrer
	addresses and other server log information.</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	We may use cookies and other tracking mechanisms to recognize you
	when you return to the Site.&nbsp; A cookie is a small amount of
	data, which often includes an anonymous unique identifier, which is
	sent to your browser from a site's computers and stored on your
	computer's hard drive. With respect to most computer systems, you
	may set your browser so that it does not accept cookies.&nbsp;&nbsp;
	If you do disable the use of cookies, you may not be able to use or
	experience all of the features of our Site.</P>
</UL>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
We also may, but are not obligated to, monitor your use of the Site.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Our Use and
Disclosure of this Information</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
We may use the information that we collect about you or that you
provide to us as set forth above, including your personal
information, as follows:</P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	For any RFS and/or its Affiliates’ business purpose;</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	To provide you with the information, products and services that you
	request from us;</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	To fulfill any other purpose for which you provide the information
	to us;</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	To notify you about changes in the Site, its governing documents, or
	any products or services we offer through the Site;</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	To allow you to participate in interactive sections of the Site;</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	To inform you about our and/or our Affiliates’ programs, goods and
	services and/or those of third parties in which we determine you may
	be interested;</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	To communicate with you about your use of the Site and regarding RFS
	and its Affiliates’ business;</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	For any other purpose to which you consent;</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	In any other way we may describe when you provide the information;
	and</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	To aggregate user information.</P>
</UL>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
We may also use and disclose to others the information we gather from
you, including your personal information, as follows:</P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	To fulfill the purpose for which you provide the information, for
	any other purpose disclosed when you provide the information, and
	for any purpose to which you consent.</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	We may disclose your information to Affiliates of RFS and allow them
	to use and disclose your information for any RFS and/or its
	Affiliates’ business purpose.</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	We may employ other companies, services providers and our own
	Affiliates to perform functions on RFS’s behalf, such as
	maintaining the Site, providing services related to the Site,
	collecting information, responding to and sending electronic mail,
	fulfilling orders for products, services or information, or other
	functions necessary to our business, and we may disclose your
	information to these companies so that they can perform their
	functions for us.</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	We may use and disclose your information as we view necessary or
	prudent to protect our and our Affiliates’ safety, rights and/or
	property and that of others and other users, to enforce and/or to
	report abuse or violation of the Site’s governing documents, and&nbsp;
	in connection with our obligations under the DMCA.</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	We may use and disclose your information to carry out our
	obligations and enforce our rights arising from any contracts
	entered into between you and us and/or our Affiliates.</P>
</UL>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
&nbsp;</P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	We may use and disclose your information to the extent we believe we
	are required to do so by law, including to comply with any court
	order, law or legal process, and to respond to any government or
	regulatory request;</P>
</UL>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.19in">
	We may transfer and disclose your information in connection with a
	merger, divestiture, restructuring, reorganization, dissolution or
	other sale or transfer of some or all of the assets of RFS and/or
	one of its Affiliates, whether as a going concern or as part of
	bankruptcy, liquidation, or similar proceeding, in which the
	information held by RFS and/or the Affiliate is among the assets
	transferred.&nbsp;</P>
</UL>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
Except as provided in this Privacy Policy, we will not disclose your
personal information to unaffiliated third parties without your
express consent.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
We may compile statistical and aggregated information about users of
the Site and their use of the Site, and we may use, disclose and
transfer this information, as well as any information that does not
identify an individual, and any Suggestions you provide, for any
purpose without restriction.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Security</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
We have put in place security systems designed to prevent
unauthorized disclosure of information you provide to us.&nbsp; These
systems are structured to deter and prevent hackers and others from
accessing this information. Due to the nature of Internet
communications and evolving technologies, however, we cannot provide,
and we hereby disclaim, assurance that the information you provide us
will remain free from loss, misuse, or alteration by third parties
who, despite our efforts, obtain unauthorized access.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
With respect to some services we provide customers, we may expressly
agree at the time such services are requested to provide different,
specific and higher levels of security and data segregation. In
addition, in particular circumstances, when you submit certain
information to us through this Site, we may agree in connection with
such information to provide additional protections to, and
restrictions upon our use of, your personal information.&nbsp; 
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Relationship to
Other Contracts</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
The terms of this Privacy Policy do not affect or amend the terms of
any specific contracts you have entered or may enter into with RFS or
its Affiliates, and your and RFS’s (or its Affiliates’)
respective obligations thereunder, except as otherwise expressly set
forth in such contract.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Children</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
The Site is not directed to or intended to be used by persons under
the age of 18, and RFS does not knowingly collect personal
information from persons under the age of 18. If we learn that a
person under 18 has provided us with personal information through
this Site, we will delete this information from our databases.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<BR><BR>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Update Your
Personal Information.&nbsp;</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
By agreeing to this Privacy Policy, you are agreeing to keep your
contact information or other personal information we maintain up to
date.&nbsp; If your contact information or other personal information
that you have provided to us through the Site needs to be updated,
please promptly contact us at&nbsp;<A HREF="mailto:ifa.training@landstarmail.com">ifa.training@landstarmail.com</A>
and provide sufficient information so that we can properly update
your information.&nbsp;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Changes to this Privacy
Policy.</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
From time to time, RFS may change its Privacy Policy. We will post a
notice of such changes for thirty days after the date of such change,
which notice will be accessible from the Privacy Policy link on our
Site or may appear on the home page of the Site. Your use of the Site
following any such change constitutes your agreement to follow and be
bound by the Privacy Policy, as changed, and to its application to
all information gathered before and after its effective date.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>11.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contact Us</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
If you have questions about this Privacy Policy, please send an
e-mail to <U>ifa.training@landstarmail.com</U>.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<BR><BR>
</P>
</div>