<div class="docs--content">
  <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>TERMS OF USE</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
Welcome to our site (the “Site”). The Site is operated by Reload
Freight Systems Inc. (“RFS”, “we” or” “us”) on its own
behalf or on behalf of its affiliates. &nbsp;This document (the
“Terms of Use” or the “Agreement”) establishes the terms and
conditions governing your use of the Site.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
These Terms of Use, together with the RFS Privacy Policy, constitute
a binding agreement between users of the Site (“you”, unless
otherwise specified) and RFS.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
By using the Site, you acknowledge and signify that you have read,
understood, and agree to be bound by this Agreement. &nbsp;You must
agree to this Agreement in order to access or use the Site.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
This Agreement contains the following provisions:</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>1. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
Acceptance of this Agreement</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
This is an agreement between you and RFS and governs your use of the
Site, its contents and services. &nbsp;Each time you visit, browse,
order goods through, purchase goods through, advertise goods through,
access or otherwise use the Site, you signify your acceptance and
agreement, and the acceptance and agreement of any person you purport
to represent (and for the purposes of this Agreement, “person”
includes any type of incorporated or unincorporated entity, including
your employer), without limitation or qualification, to be bound by
this Agreement for using the Site, and to comply with all applicable
laws and regulations.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
By accessing this Site, you represent and warrant that you are at
least eighteen (18) years old and that you have the legal authority
to agree to and accept this Agreement on behalf of yourself and any
person you purport to represent. &nbsp;&nbsp;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
If you do not have the legal authority to agree to and accept this
Agreement, or if you are not authorized to agree to and accept this
Agreement, or if you do not agree with the terms of this Agreement,
then you may not use the Site.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>2. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scope
of this Agreement</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
These Terms of Use only apply to your activities when using the Site
or its contents. &nbsp;From time to time, we may establish or
authorize a RFS service provider to establish a RFS-branded site that
operates under different terms and conditions. &nbsp;Those different
terms and conditions will be linked to that site’s home page.
&nbsp;Please review such different terms and conditions if you choose
to visit those sites, as they govern your use thereof.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
These Terms of Use do not affect or amend the terms of any other
contracts you have entered into or may enter into with RFS or a RFS
affiliate, such as carrier contracts, agency agreements,
transportation and logistics contracts, and other contracts for RFS
goods or services (each of these separate contracts with RFS and/or
its affiliates is referred to as a “RFS Contract”), and your and
RFS’s (and its affiliates’) respective obligations thereunder,
except as otherwise expressly set forth in such RFS Contract. &nbsp;A
RFS “affiliate” is any entity that controls, is under common
control with, or is controlled by, RFS.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>3. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Authority</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
RFS is based in the state of California in the United States. &nbsp;RFS
provides this Site for use primarily by persons located in the United
States and the Site is not intended to be used by persons located
outside of the United States or Canada. &nbsp;RFS makes no claims
that the Site or any of its content is accessible or appropriate
outside of the United States. &nbsp;Access to the Site may not be
legal by certain persons or in certain countries. &nbsp;If you access
the Site from outside the United States, you do so on your own
initiative and you accept full responsibility for ensuring compliance
with local laws. &nbsp;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>4. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Changes
to these Terms of Use</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
We may modify, suspend or terminate the operation of the Site, as
well as its content and offerings, in whole and/or in part, in our
sole discretion, at any time and for any reason.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
From time to time, RFS may, in its sole discretion, for any reason
and without any liability to you or any other person, change,
supplement or amend these Terms of Use, or require that you agree to
additional terms and conditions (the “Revised Terms”) in order to
continue using the Site.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
You may be required to agree to Revised Terms in order for you to
access certain areas of the Site or utilize certain features or
functions offered on the Site by RFS. &nbsp;For example, certain
portions of the Site may only be accessible to those situated in
particular geographic locations. &nbsp;RFS may require you to agree
to Revised Terms before you are allowed to post information to the
Site, participate in group discussions or business forums, enter
sweepstakes and contests, and engage in similar interactive
activities. &nbsp;Such Revised Terms are incorporated herein by
reference and made a part of these Terms of Use.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
These Terms of Use may only be modified in writing by an authorized
officer of RFS and they may not be modified orally or in writing by
our Site’s customer service representatives or our employees. &nbsp;You
may not change, supplement, or amend these Terms of Use in any
manner.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
You are responsible for checking for revisions to the Terms of Use
each time you use the Site and, in any event, are bound to changes to
this Agreement thirty (30) days after such changes have been
introduced and for which notification of substantive changes has been
made (such as a notice on the home page of the Site that such change
has been made.)</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
Any changes to the dispute resolution procedures set forth below in
Governing Law and Venue shall not apply to any disputes that have
been commenced prior to the changes to the Terms of Use taking
effect.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<BR><BR>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<BR><BR>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>5. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Privacy
Policy</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
Please review our RFS Privacy Policy, which explains RFS’s
practices relating to the collection, use and disclosure of personal
information you provide through use of the Site. &nbsp;The Privacy
Policy is incorporated herein by reference and is a part of these
Terms of Use. &nbsp;By using the Site, you are consenting to the
Privacy Policy.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>6. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Site
Ownership; Trademarks</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
RFS, its affiliates and/or their licensors own the Site, its content,
features, functionality and systems, including the copyright and
other intellectual property rights therein. &nbsp;All rights not
expressly granted or licensed herein are reserved to RFS, its
affiliates and licensors.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
RFS and its affiliates’ federally registered or common law
trademarks may appear on the Site from time to time, including,
without limitation, Reload Freight Systems Inc., Freight Dojo,
Landstar, Landstar System Inc., Landstar Ranger (collectively, the
“RFS and Affiliates Trademarks”). &nbsp;Other product, service
and company names appearing in the Site may be the trademarks of
their respective owners, and are used by RFS via license or under
“fair use” principles. &nbsp;No right or license to use any of
these trademarks or the RFS Trademarks is granted in these Terms of
Use.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>7. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
Use of Site Content; Monitoring</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
Subject to these Terms of Use and any further restrictions set forth
in the Revised Terms, RFS hereby grants to you a non-exclusive,
limited, non-sublicensable, non-transferable, revocable license to
access the Site and use the information, functions and content made
available to you on the Site, solely in connection with RFS-related
or RFS affiliate-related business and not for purposes of competing
with RFS or its affiliates or for any other purpose. &nbsp;With
respect to information and content that is identified on the Site as
available to you for downloading or printing, or is configured to
enable you to download or print, you may download and/or print one
copy and may only use it for the RFS-related or RFS affiliate-related
business purpose for which it was made available and not for purposes
of competing with RFS, a RFS affiliate, or for any other purpose.
&nbsp;You are expressly prohibited from modifying any of the Site
pages or other content and from removing or altering any visible or
non-visible identification, marks, notices, or disclaimers in the
content that you download or print from the Site.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
Where access to portions of the Site is limited to those users with
valid Passwords, the license granted above with respect to those
portions of the Site is applicable only to those with a valid
Password and those authorized to use such Password.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
No other license or rights in the Site are granted by RFS and all
licenses and rights granted may be terminated or revoked by RFS at
any time at RFS’s sole discretion. &nbsp;From time to time RFS may,
without notice, monitor your use of the Site, although RFS is not
obligated to do so.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<BR><BR>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>8. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Passwords</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
You are responsible for maintaining the security of information such
as user names, codes and passwords (codes and passwords are
collectively referred to as a “Password”) that you are given or
adopt for purposes of accessing non-public portions of the Site, if
any.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
For security reasons, you must keep your user name and Passwords
confidential and not disclose them to any person or permit any other
person to use them, except an authorized RFS representative.
&nbsp;Passwords, where user-selected, must be non-obvious,
hard-to-guess, confidential and changed on a regular basis, and you
must log-out at the end of each session.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
You (or your employer, if you use the Site on behalf of your
employer) are solely responsible and liable for any use and misuse of
your user name and Passwords and for all activities that occur under
your user name and Passwords. &nbsp;You must ensure that all uses of
your user name and Passwords comply with these Terms of Use.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
You must immediately notify RFS at ifa.training@landstarmail.com of
any unauthorized use of your user name or Passwords, or if you know
or suspect that your user name and/or Passwords have been lost or
stolen, have become known to any other person, or have been otherwise
compromised.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
You agree to respond promptly to any communications from RFS
regarding your use of the Site and your Passwords.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
All user names and Passwords remain the property of RFS, and may be
cancelled or suspended at any time by RFS without any notice or
liability to you or any other person. &nbsp;RFS is not under any
obligation to verify the actual identity or authority of the user of
any user name or Password.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
THE SECURITY AND PRIVACY PROVIDED BY PASSWORDS IS NOT COMPLETE AND
CAN BE CIRCUMVENTED. &nbsp;YOUR USE OF PASSWORDS IS AT YOUR OWN RISK.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>9. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RFS
Confidential Information</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
Certain information appearing on the Site may be, and may be
identified as, RFS confidential information. &nbsp;RFS confidential
information is all information that is marked as confidential or that
ought reasonably to be deemed to be confidential, including without
limitation contact information for RFS or its affiliates’ agents,
information about RFS, its affiliates and their respective agents’
safety procedures and systems, information about particular loads,
information regarding RFS’s and its affiliates’ services,
products, customers, customer lists, bookkeeping, written contracts
and agreements, rates, compensation or techniques, and additional
non-public information that is accessible only via Passwords. &nbsp;You
agree only to use RFS confidential information as expressly permitted
in these Terms of Use and as further restricted by any Revised Terms.
&nbsp;In addition, you agree only to use such RFS confidential
information in connection with your RFS-related or RFS
affiliate-related business, for no other purpose, and not to compete
with RFS or its affiliates. &nbsp;Upon RFS’s request, you will
immediately return or destroy all such RFS confidential information
in your possession and make no further use thereof.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>10. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Third-Party
Products and Services</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
From time to time, the Site may contain information about third party
products and services. &nbsp; With respect to all such third party
products and services, you should be aware that they are not being
provided by RFS and RFS is not responsible for such goods or services
or the terms on which they may be purchased or sold. &nbsp;If you
choose to purchase such goods or services, you should carefully
evaluate them and the terms upon which you are purchasing them.<B>&nbsp;&nbsp;&nbsp;</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>11. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Request
Mechanisms</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
RFS may, from time-to-time, make available on the Site mechanisms for
you to request or inquire about its business, programs, logistics and
other non-Site-related services from RFS or its affiliates. &nbsp;None
of these mechanisms create a binding obligation between you and RFS
or its affiliates, and in order for you to engage RFS or its
affiliates to provide any such services, you and RFS or the affiliate
must execute separate written contracts setting forth the terms and
conditions under which such services are to be provided.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>12. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Information
you provide to RFS on the Site</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
From time to time, RFS may offer capabilities and features on the
Site that enable you to post information to the Site (whether
directly or through RFS) that will be visible to other Site users who
access the Site and/or that will enable you to interact with other
Site users. &nbsp;All information or material that you or other users
provide for use on the Site or post on the Site is referred to in
these Terms of Use as “User Posted Content”. &nbsp;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
RFS may provide user online discussion and chat forums, provide for
the exchange of information in connection with online load
transactions, arrange for users to post Load Information, and provide
other interactive features and functions for use by users of the
Site. &nbsp; You acknowledge that your use of the Site and the User
Posted Content you provide is governed by the RFS Privacy Policy.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
Users may also from time to time submit suggestions and ideas
(“Suggestions”) to RFS via email or through User Posted Content
about ways in which RFS may improve or expand its or its affiliates’
business (such as ideas for new or improved products, services or
Site features).</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
By posting or providing User Posted Content and/or by submitting
Suggestions, you are granting to RFS and its designees a perpetual,
non-exclusive, non-terminable, sublicensable, worldwide license to
use, reproduce, modify, distribute, transmit, re-transmit, create
derivative works of, publicly display, publicly perform, publish,
store and exploit such information and Suggestions in any way, in
whole or in part, in all media now known or hereinafter discovered,
without obligation to do so or further compensation to you. &nbsp;By
posting or providing User Posted Content and/or by submitting
Suggestions, you are also warranting that you have all necessary
right, title and interest to grant such a license and that such User
Posted Content and Suggestions do not infringe upon the rights of
others, are not injurious to others, and comply with the requirements
imposed on you under these Terms of Use.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
You are responsible for any User Posted Content and Suggestions that
you provide to RFS or post to the Site, or that is provided or posted
using your Passwords. &nbsp;RFS is not responsible for any User
Posted Content or Suggestions, including, without limitation, User
Posted Content or Suggestions from other Site users that you may
encounter in your use of the Site.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
RFS expressly reserves the right, without obligation or notice, to
pre-screen, remove, modify, refuse to post, delete, block, take down,
and/or edit all User Posted Content and Suggestions, for any reason,
in its sole discretion.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>13. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acceptable
Use; Prohibited Use</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
You are responsible for all activities you engage in, on or through
use of the Site, and those engaged in by anyone using your Passwords.
&nbsp;You agree to use the Site in accordance with these Terms of
Use, the Revised Terms, and all applicable laws, rules and
regulations. &nbsp;You agree to keep all information you provide to
RFS or post on the Site up-to-date, complete and accurate, including,
without limitation, personal information, User Posted Content, and
all information you provide to other users.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
In addition, you agree not to provide to RFS post on the Site, or
transmit through the Site information, materials, User Posted Content
or Suggestions that:</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;are
inaccurate, false, misleading, deceptive, tortious, injurious,
unlawful, threatening, abusive, defamatory, obscene, lewd,
lascivious, violent, harassing, offensive, pornographic, profane or
indecent, or that would constitute or encourage conduct that would
constitute a criminal offense, give rise to civil liability, or
violate applicable laws, rules and/or regulations;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;violate
the proprietary rights of others, including, without limitation, the
copyright, trademark, trade dress, patent, trade secret, or moral
rights of others, or information or material that violates another’s
rights of privacy, publicity or confidentiality;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(c) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;you
do not have the right to provide, post or transmit; and/or</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(d) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;violate
these Terms of Use.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
In addition, you agree not to engage in activities on or through use
of the Site or using information gathered from the Site, so as to:</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;violate
these Terms of Use or applicable laws, rules or regulations;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;engage
in fraudulent activity;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(c) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;violate
any terms of use, rules, policies or guidelines of your Internet
access provider, online service, or sites to which this Site links;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(d) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;damage,
delete or modify or make derivative versions of any information or
material on the Site (except for deleting or modifying your own User
Posted Content where the Site makes that function possible);</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(e) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;modify
any copyright or other proprietary notices or legends on the Site or
information or material printed or downloaded from the Site;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(f) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;impersonate
or misrepresent your affiliation with RFS or frame our Site;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(g) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;use
any robot, scraper or other automated process not provided by us to
gather information or extract data from the Site;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(h) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;reverse
engineer or copy or disassemble any programming components of the
Site or otherwise endeavor to discover source code from the Site;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(i) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;bypass
or circumvent or endeavor to bypass or circumvent measures employed
to prevent or limit access to areas, code, or content of the Site;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(j) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gather
or use email or other contact information from other Site users
except as expressly permitted by the Site and the Privacy Policy;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(k) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;use
the Site systems to send unsolicited emails;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(l) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;disrupt,
impair, overburden or damage the Site or others’ use thereof, such
as through viruses, denial of service attacks, spamming, flooding or
other disruptive components or acts; and/or</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(m) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;endanger
or threaten the safety or security of or cause harm to any person or
property.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
RFS reserves the right to report to law enforcement authorities any
violation of these Terms of Use.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
Nothing in these Terms of Use shall prohibit or restrict RFS or any
RFS affiliate from complying with all applicable laws, rules and
regulations, and all law enforcement requests and/or subpoenas. &nbsp;RFS
may use and disclose any User Posted Content, Suggestions, Passwords
and personal user information as RFS deems reasonable to comply with
the law, to respond to such requests or subpoenas, to enforce these
Terms of Use or RFS Contracts, and to protect the safety of persons
or property.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
While this site is not directed to or expected to be used by
children, parents should know that there is a significant amount of
information available to them and a variety of commercially available
products and services that can assist them in implementing controls
to block minors’ access to adult, violent or other content that the
parent prefers to block. &nbsp;The Federal Trade Commission maintains
a website at www.onguardonline.gov that contains information about
protecting kids using the Internet.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>14. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright
Infringement</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
RFS respects the intellectual property rights of others, and requires
that all users of this Site do the same. &nbsp;RFS will investigate
notices of copyright infringement and take appropriate action upon
receipt of proper notification, including termination of Site access
and termination of other privileges of anyone who repeatedly
infringes the copyright rights of others. &nbsp;If you believe that
your work has been used, posted or copied on the Site in a way that
constitutes copyright infringement, please notify the RFS Agent (at
the address set forth below) in writing with the following
information:</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(a) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
real name and your current valid working email address and telephone
number with which we can contact you;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(b) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Identification
of the work protected by copyright that you claim has been infringed
or, if multiple works have been infringed, a representative list of
such works;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(c) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A
description of where the work that you claim infringes your work is
being used or appears on the Site;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(d) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A
written statement &nbsp;by you that you have a good-faith belief that
the disputed use is not authorized by the copyright owner, its agent,
or the law;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(e) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A
statement by you, made under penalty of perjury, that the above
information in your notice is accurate and that you are the copyright
owner or authorized to act on behalf of the copyright owner; and</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
(f) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
electronic or physical signature.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
RFS’s Copyright Agent is: &nbsp;Michelle Walker c/o Reload Freight
Systems Inc., 224 E. Olive Avenue, Suite 301, Burbank, CA 91502.
&nbsp;Email:michelle.walker@landstarmail.com.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>15. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Disclaimer,
Liability Exclusion, Liability Limitation, Release and Indemnity</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
RFS strives to make your use of the Site a useful experience.
&nbsp;Nevertheless, neither RFS nor any RFS affiliate on whose behalf
RFS is operating this Site (the “RFS Affiliate”), accepts any
liability for your use of the Site. &nbsp;For that reason, the
following provisions apply to your use of the Site:</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>DISCLAIMER</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>YOUR USE OF THE SITE IS AT YOUR OWN RISK. &nbsp;</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>YOU ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING, REPAIR OR
CORRECTION TO ANY COMPUTER OR OTHER EQUIPMENT ARISING FROM, CONNECTED
WITH, OR RELATING TO YOUR USE OF THE SITE.</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>THE OPERATION OF THE SITE MAY BE AFFECTED BY NUMEROUS FACTORS
BEYOND RFS’S CONTROL. &nbsp;THE OPERATION OF THE SITE MAY NOT BE
CONTINUOUS OR UNINTERRUPTED OR SECURE. &nbsp;SECURITY AND PRIVACY AND
CONFIDENTIALITY RISKS CANNOT BE ELIMINATED.</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>NEITHER RFS NOR THE RFS AFFILIATE IS UNDER ANY OBLIGATION TO
VERIFY THE IDENTITY OF USERS OF THE SITE. &nbsp;HOWEVER, YOU PROMISE
NOT TO SHARE USE OF YOUR USER NAME OR PASSWORDS NOR TO ALLOW ANYONE
TO USE THE SITE POSING AS YOU.</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>THROUGH OR BECAUSE OF YOUR USE OF THE SITE, YOU MAY HAVE THE
OPPORTUNITY TO ENGAGE IN COMMERCIAL TRANSACTIONS WITH PERSONS OTHER
THAN RFS OR THE RFS AFFILIATE. &nbsp;ALL SUCH TRANSACTIONS ARE AT
YOUR OWN RISK. &nbsp;NEITHER RFS NOR THE RFS AFFILIATE IS A PARTY TO
ANY SUCH TRANSACTIONS AND DISCLAIMS ANY AND ALL LIABILITY REGARDING
ALL SUCH TRANSACTIONS. &nbsp;RFS AND THE RFS AFFILIATE MAKE NO
REPRESENTATIONS, WARRANTIES OR CONDITIONS OF ANY KIND WITH RESPECT TO
SUCH TRANSACTIONS, WHETHER EXPRESS OR IMPLIED, AND INCLUDING WITHOUT
LIMITATION IMPLIED WARRANTIES OF MERCHANTABLE QUALITY, FITNESS FOR A
PARTICULAR PURPOSE, PERFORMANCE OR USEFULNESS, ALL OF WHICH LANDSTAR
AND THE LANDSTAR AFFILIATE DISCLAIM TO THE FULLEST EXTENT PERMITTED
BY LAW.</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, RFS AND THE RFS
AFFILIATE MAKE NO REPRESENTATION, WARRANTY OR CONDITION THAT:</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
• &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <B>THE SITE WILL BE
COMPATIBLE WITH YOUR COMPUTER AND RELATED EQUIPMENT AND SOFTWARE;</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
• &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <B>THE SITE WILL BE
AVAILABLE OR WILL FUNCTION WITHOUT INTERRUPTION OR WILL BE FREE OF
ERRORS OR THAT ANY ERRORS WILL BE CORRECTED;</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
• &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <B>THE INFORMATION AVAILABLE
ON OR THROUGH THE SITE WILL BE ACCURATE, COMPLETE, SEQUENTIAL, OR
TIMELY;</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
• &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <B>PARTICULAR RESULTS OR ANY
RESULTS AT ALL MAY BE OBTAINED THROUGH THE USE OF THE SITE;</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
• &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <B>THE USE OF THE SITE,
INCLUDING THE BROWSING AND DOWNLOADING OF ANY INFORMATION, WILL BE
FREE OF VIRUSES, TROJAN HORSES, WORMS OR OTHER DESTRUCTIVE OR
DISRUPTIVE COMPONENTS; OR</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
• &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <B>THE USE OF THE SITE WILL
NOT INFRINGE THE RIGHTS (INCLUDING INTELLECTUAL PROPERTY RIGHTS) OF
ANY PERSON.</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>RFS AND THE RFS AFFILIATE DISCLAIM ANY AND ALL LIABILITY REGARDING
SUCH MATTERS TO THE FULLEST EXTENT PERMITTED BY LAW.</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>ADDITIONAL DISCLAIMERS MAY APPEAR WITHIN THE SITE ITSELF AND ARE
INCORPORATED HEREIN BY REFERENCE.</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>LIABILITY EXCLUSION</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>NEITHER RFS NOR THE RFS AFFILIATE WILL UNDER ANY CIRCUMSTANCES BE
LIABLE TO YOU OR ANY OTHER PERSON FOR ANY LOSS OF USE, LOSS OF
PRODUCTION, LOSS OF INCOME OR PROFITS (ANTICIPATED OR OTHERWISE),
LOSS OF MARKETS, ECONOMIC LOSS, SPECIAL, INDIRECT OR CONSEQUENTIAL
LOSS OR DAMAGE OR PUNITIVE DAMAGES, WHETHER IN CONTRACT, TORT OR
UNDER ANY OTHER THEORY OF LAW OR EQUITY, ARISING FROM, CONNECTED
WITH, OR RELATING TO THE USE OF THE SITE BY YOU OR ANY OTHER PERSON,
AND REGARDLESS OF ANY NEGLIGENCE OR OTHER FAULT OR WRONGDOING BY RFS,
ANY RFS AFFILIATE, OR ANY PERSON FOR WHOM RFS IS RESPONSIBLE, AND
NOTWITHSTANDING THAT RFS OR ANY RFS AFFILIATE OR PERSON FOR WHOM RFS
IS RESPONSIBLE MAY HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS
OR DAMAGES BEING INCURRED BY YOU OR ANY OTHER PERSON.</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>LIMITATION OF LIABILITY</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT, INCLUDING DUE
TO NEGLIGENCE, WILL RFS OR ANY OF ITS AFFILIATES OR THEIR RESPECTIVE
OFFICERS, DIRECTORS, EMPLOYEES OR LICENSORS BE LIABLE FOR ANY DIRECT,
INDIRECT, CONSEQUENTIAL, PUNITIVE, SPECIAL OR OTHER DAMAGES,
INCLUDING, WITHOUT LIMITATION, DAMAGES DUE TO LOST PROFITS OR
BUSINESS INTERRUPTION, ARISING OUT OF USE OF THE SITE, SITE
OPERATIONS, OR ANY CONTENT, INFORMATION, PRODUCT OR SERVICE MADE
AVAILABLE THROUGH THE SITE, EVEN IF RFS OR ANY OF ITS AFFILIATES HAS
BEEN ADVISED OF THE POSSIBILITY THEREOF. &nbsp;TO THE FULLEST EXTENT
PERMITTED BY LAW, THE LIABILITY OF RFS AND ITS AFFILIATES AND THEIR
RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES AND LICENSORS ARISING OUT
OF OR IN CONNECTION WITH THIS SITE IS LIMITED TO THE LESSER OF THE
DOLLAR AMOUNT YOU PAID RFS TO USE THIS SITE OR $100.</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>RELEASE</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>YOU HEREBY RELEASE, REMISE AND FOREVER DISCHARGE EACH OF RFS, ITS
AFFILIATES, AND ALL OF THEIR RESPECTIVE AGENTS, DIRECTORS, OFFICERS,
EMPLOYEES, INFORMATION PROVIDERS, SERVICE PROVIDERS, SUPPLIERS,
LICENSORS AND LICENSEES, AND ALL OTHER RELATED, ASSOCIATED, OR
CONNECTED PERSONS FROM ANY AND ALL MANNER OF RIGHTS, CLAIMS,
COMPLAINTS, DEMANDS, CAUSES OF ACTION, PROCEEDINGS, LIABILITIES,
OBLIGATIONS, LEGAL FEES, COSTS, AND DISBURSEMENTS OF ANY NATURE AND
KIND WHATSOEVER AND HOWSOEVER ARISING, WHETHER KNOWN OR UNKNOWN,
WHICH NOW OR HEREAFTER EXIST, WHICH ARISE FROM, RELATE TO, OR ARE
CONNECTED WITH YOUR USE OF THE SITE.</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<BR><BR>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<BR><BR>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>INDEMNITY</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>YOU AGREE TO INDEMNIFY, DEFEND AND HOLD HARMLESS EACH OF RFS, ITS
AFFILIATES, AND ALL OF THEIR RESPECTIVE AGENTS, DIRECTORS, OFFICERS,
EMPLOYEES, INFORMATION PROVIDERS, SERVICE PROVIDERS, SUPPLIERS,
LICENSORS AND LICENSEES, AND ALL OTHER RELATED, ASSOCIATED, OR
CONNECTED PERSONS (COLLECTIVELY, THE “INDEMNIFIED PARTIES”) FROM
AND AGAINST ANY AND ALL LIABILITIES, EXPENSES AND COSTS, INCLUDING
WITHOUT LIMITATION REASONABLE LEGAL FEES AND EXPENSES, INCURRED BY
THE INDEMNIFIED PARTIES IN CONNECTION WITH ANY CLAIM OR DEMAND
ARISING OUT OF, RELATED TO, OR CONNECTED WITH YOUR USE OF THE SITE,
THE PRODUCTS AND SERVICES OFFERED THROUGH THE SITE, THE USE OF THE
SITE BY SOMEONE POSING AS YOU, OR YOUR BREACH OF THIS AGREEMENT. &nbsp;YOU
WILL ASSIST AND CO-OPERATE AS FULLY AS REASONABLY REQUIRED BY THE
INDEMNIFIED PARTIES IN THE DEFENCE OF ANY SUCH CLAIM OR DEMAND. &nbsp;YOU
FURTHER AGREE TO INDEMNIFY RFS AND THE INDEMNIFIED PARTIES FROM ALL
SUITS, DAMAGES, COSTS AND LIABILITIES WHATSOEVER ARISING FROM ANY
TRANSACTIONS IN WHICH YOU ENGAGE USING PRODUCTS OR SERVICES OBTAINED
FROM OR THROUGH THE SITE.</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>ADVICE AND INFORMATION PROVIDED BY RFS, ANY OF ITS AFFILIATES, &nbsp;OR
THEIR REPRESENTATIVES, WHETHER ORAL OR WRITTEN, WILL NOT CREATE ANY
REPRESENTATION, WARRANTY OR CONDITION OR VARY OR AMEND THIS
AGREEMENT, INCLUDING THE ABOVE DISCLAIMER, LIABILITY EXCLUSION,
LIABILITY LIMITATION, RELEASE AND INDEMNITY PROVISIONS, AND YOU MAY
NOT RELY UPON ANY SUCH ADVICE OR INFORMATION.</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
<B>THE EXCLUSION OF CERTAIN WARRANTIES AND THE LIMITATIONS OF CERTAIN
LIABILITIES MAY BE PROHIBITED BY CERTAIN LEGISLATION AND LAWS IN SOME
JURISDICTIONS AND THUS MAY NOT APPLY TO YOU.</B>&nbsp;&nbsp;&nbsp;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
The disclaimer, liability exclusion, liability limitation, release,
and indemnity provisions in this Agreement survive indefinitely after
the termination of this Agreement.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>16. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Links</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
This Site may contain links to or from sites controlled by third
parties. &nbsp;RFS and the RFS Affiliate make no representations or
warranties regarding linked sites or their content or goods or
services you may encounter or obtain thereon. &nbsp;If the Site
contains links to other sites and resources provided by third
parties, these links are provided for your convenience only. &nbsp;RFS
has no control over the contents of those sites or resources, and
neither RFS nor the RFS Affiliate accepts responsibility for them or
for any loss or damage that may arise from your use of them. &nbsp;If
you decide to access any of the third party websites linked to this
Site, you do so entirely at your own risk and subject to the terms
and conditions of use for such websites.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
This Site may also contain links to other sites operated by or for
RFS. &nbsp;Please check the terms of use and privacy policy
applicable to each site you visit, as they may vary due to the nature
of the sites and who is permitted to access them.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>17. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Termination
of Your Access to the Site</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
RFS, in its sole and absolute discretion, may terminate, suspend,
and/or limit your access to the Site, and may revoke your Passwords
or limit which individuals may use the Site through your Passwords,
without notice or liability, at any time. &nbsp;Further, RFS will
investigate notices of copyright infringement and take appropriate
action, including termination of access to the Site and Password
revocation, against anyone who repeatedly infringes upon the
copyright rights of others.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
Termination, suspension or limitation of your right to access the
Site shall not affect or terminate your obligations or the rights and
licenses granted to RFS by you under these Terms of Use, all of which
survive any such termination, suspension or limitation.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>18. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Electronic
Communications</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
By using this Site, you are consenting to receive communications from
RFS electronically with respect to your use of this Site and its
contents, and you are agreeing that RFS may communicate with you with
respect to your use of this Site and its contents via email, by
posting notices on the Site, and by other means of communication,
including but not limited to postal mail. &nbsp;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>19. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Third
Party Rights</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
The provisions of these Terms of Use are for the benefit of RFS and
its affiliates and each of these entities shall have the right to
assert and enforce these provisions directly against you on its own
behalf. &nbsp;Otherwise, there are no third party beneficiaries of
these Terms of Use.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>20. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forward-Looking
Statements</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
Portions of this Site may contain forward-looking statements
concerning RFS or the financial performance of RFS. &nbsp;These
forward-looking statements only speak as of the date indicated or, if
no such date is indicated, as of the date such statements are posted
to the Site. These statements are only predictions and actual events
or results may differ materially. &nbsp;Please read RFS SEC filings,
including its annual, periodic and current reports, as amended, for
additional information about the risks, uncertainties and other
factors that could cause actual results to differ materially from
those in the forward-looking statements. &nbsp;<B>RFS EXPRESSLY
DISCLAIMS ANY OBLIGATION TO UPDATE, AMEND, SUPPLEMENT OR OTHERWISE
REVISE ANY FORWARD-LOOKING STATEMENTS CONTAINED ON THIS SITE TO
REFLECT EVENTS OR CIRCUMSTANCES THAT MAY ARISE AFTER THE DATE
INDICATED, EXCEPT AS OTHERWISE REQUIRED BY APPLICABLE LAW.</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>21. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Governing
Law and Venue</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
These Terms of Use, your use of the Site, and all related matters
shall be governed and construed in accordance with the laws of the
State of California without application of its conflicts of laws
principles. &nbsp;Except as may be expressly agreed otherwise by RFS
and you, you agree that any dispute between RFS or any of its
affiliates, on the one hand, and you, on the other hand, arising
from, connected with or relating to the Site, your use of the Site,
these Terms of Use or any related matters shall be brought
exclusively in a federal or state court having jurisdiction thereof
within the State of California. &nbsp;RFS and you waive any objection
to such venue based on lack of personal jurisdiction or inconvenient
forum.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>22. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Waiver;
Severability</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
Failure to insist upon or enforce strict performance of any provision
of these Terms of Use shall not be construed as a waiver of any
provision or right contained herein. &nbsp;Neither the course of
conduct between you and us nor trade practice shall act to modify any
provision of these Terms of Use.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
If any provision of these Terms of Use is deemed invalid, void or
unenforceable, that invalid, void or unenforceable provision shall be
deemed severable from these Terms of Use and shall not affect the
validity and enforceability of the remaining provisions.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
Any rights not expressly granted by these Terms of Use are reserved
to RFS.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>23. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assignment;
Entire Agreement</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
The provisions of these Terms of Use will inure to the benefit of and
be binding upon each of RFS and its affiliates and each of their
respective successors and assigns and you and your heirs, executors,
administrators, successors, permitted assigns, and personal
representatives.</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
RFS may assign its rights and duties under these Terms of Use to any
other person or entity at any time without your consent and without
notice to you. You may not assign these Terms of Use, nor may you
assign, license or delegate your rights, licenses or privileges
provided hereunder. &nbsp;These Terms of Use, the Revised Terms, any
other policies, guidelines, requirements, disclaimers and
requirements posted on the Site by RFS, including the Privacy Policy,
except as set forth in the immediately following sentence below,
comprise the entire agreement between you and RFS regarding your use
of the Site and its contents. &nbsp;Notwithstanding the foregoing,
all terms and conditions of RFS Contracts that relate to your use of
the Site (including, without limitation, any restrictions,
preconditions, limitations or requirements on or relating to such
use) shall be in addition to and not in substitution of, any of the
terms contained in these Terms of Use or the Revised Terms. &nbsp;</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>24. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Questions
or Concerns</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
If you have any questions or concerns regarding the Site or these
Terms of Use, please contact the RFS Corporate Communications
department at ifa.training@landstarmail.com</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
<B>25. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date</B></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.21in">
The date the Terms of Use was last modified is June 1, 2017.</P>
<P STYLE="margin-bottom: 0.14in"><BR><BR>
</P>
</div>