:root {
  --mainColor: #000;
  --primaryColor: #1E41A9;
  --primaryDark: #122868;
  --container: {
  	lost-center: 960px;
  	padding: 0 1em;
  };
  --serif:{
  	font-family: "Libre Baskerville", serif;
  };
  --sans:{
  	font-family: "Open Sans", sans-serif;
  };
  --timing: cubic-bezier(.48,.57,.15,.99);
}

* {
	outline: none;
}

html{
	font-size: 16px;
	font-size: responsive 14px 18px;
	font-range: 480px 1280px;
	line-height: 1.5;
}

body{
	color: var(--mainColor);
	@apply --sans;
	font-weight: 300;
	margin: 0;
}

a{
	text-decoration: none;
	color: var(--primaryColor);
	&:active{
		color:inherit;
	}
}

img{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#about, #contact{
	@apply --container;
	padding-bottom: 3rem;
}
section{
	position: relative;
	padding-bottom: 3rem;
	& h2{
		margin: 1.5em auto 0 auto;
		max-width: 35rem;
		text-align: left;
		text-transform: uppercase;
		letter-spacing: 5px;
		color: var(--primaryDark);
		font-weight: 300;
	}
	& p, & ul{
		max-width: 35em;
		margin: 0 auto 1rem auto;
		/*text-align: justify;*/
	}
	& li{
		margin-bottom: 0.5rem;
	}
	& h3{
		max-width: 35rem;
		font-weight: 400;
		margin: 2rem auto 1rem auto;
	}
}

.container{
	@apply --container;
}

h1,h3{
	@apply --serif;
}

h1{
	font-size: 4.236em;
}

h2{
	font-size: 2.618em;
}

h3{
	font-size: 1.618em;
}

.center{
	text-align: center;
}

blockquote{
	padding: 0 2rem;
	margin: auto;
  max-width: 35rem;
  width: 100%;
	font-style: italic;
  border-left: 5px solid #f1f1f1;
  box-sizing: border-box;
  & > p {
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 100%;
    white-space: normal;
  }
	& .author{
		font-style: normal;
		margin: auto;
		font-weight: 700;
	}
}

ul{
	list-style: none;
	padding: 0;
}

li { 
    padding-left: 1em; 
    text-indent: -.8em;
}

li:before {
    content: "▪︎ ";
    color: #401EA9;
}